%textarea#source{placeholder: 'your script here...'}

#buttons
  %input#run{type: 'button', value: 'execute'}
  %input#new{type: 'button', value: 'reset'}
  %input#commit{type: 'button', value: 'proud!'}
  %select#script
    %option{value: 'chloroplast'}
      chloroplast
  %select#version
    %option{value: '0'}
      0

%canvas#canvas{ resize: true }
