#ui
  #text-ui
    %textarea#source{placeholder: 'your script here...'}
      \# chloroblast
    #log-container
      #log
        %p.info
          Welcome to chloroblast!

  #buttons
    %a.button#run{href: '#', title: 'Evaluate the script'}
      ⇗
    %a.button#commit{href: '#', title: "Proud of myself!"}
      !
    %select#script{title: 'Saved scripts'}
      %option{value: '__null__'}
    %a.button#list{href: '#', title: "Reload script list"}
      ↺
    %a.button#clear-log{href: '#', title: "Clear log"}

%canvas#canvas{ resize: true }
