%textarea#source{placeholder: 'your script here...'}

#buttons
  %input#run{type: 'button', value: 'execute'}
  %input#new{type: 'button', value: 'reset'}
  %input#commit{type: 'button', value: 'proud!'}
  %select#script
    %option{name: 'chloroplast'}
      chloroplast

%canvas#canvas{ resize: true }
