%textarea#source{placeholder: 'your script here...'}
  \# chloroblast

#buttons
  %input#run{type: 'button', value: 'run'}
  %input#commit{type: 'button', value: 'proud!'}
  %select#script
    %option{value: '__null__'}
  %input#list{type: 'button', value: '↺'}

%canvas#canvas{ resize: true }
