*
  margin: 0
  padding: 0

#canvas
  //background: black
  display: block
  position: fixed
  top: 0
  left: 0
  z-index: -1

$ui_text_color: rgba(0,0,0,0.6)

textarea
  z-index: 1
  font:
    family: monospace
  width: 40em
  display: block

#script
  height: 25ex

#ui
  margin: 3px
  textarea
    background: rgba(0,0,0,0.0)
    border: none
    padding: 2px
    color: $ui_text_color

