*
  border: 0
  margin: 0
  padding: 0
  border: none


#canvas
  display: block
  position: fixed
  top: 0
  left: 0
  z-index: -1

$ui_text_color: rgba(0,0,0,0.6)

*:focus
  outline: none

#text-ui
  position: fixed
  width: 100%
  *
    box-sizing: border-box
    font:
      family: monospace
      size: 9pt
    vertical-align: top
    background: transparent

#source
  display: inline-block
  width: 66%
  resize: none
  padding: 2px
  color: $ui_text_color

select
  -webkit-appearance: none
  padding:
    left: 1ex
    right: 1ex
  text-align: center
  option
    text-align: center

.button, select
  display: inline-block
  box-sizing: border-box
  height: 3ex
  font-size: 10pt
  text-align: center
  text-decoration: none
  color: #555
  text-shadow: 0 2px 0 #fff
  border: 1px solid #dedede
  -webkit-border-radius: 3px
  -moz-border-radius: 3px
  border-radius: 3px
  background: #f5f5f5
  background: -webkit-gradient(linear, left top, left bottom, from(#f9f9f9), to(#f0f0f0))
  background: -moz-linear-gradient(top,  #f9f9f9, #f0f0f0)
  border-color: #dedede #d8d8d8 #d3d3d3
.button:hover
  background: #f4f4f4
  background: -webkit-gradient(linear, left top, left bottom, from(#efefef), to(#f8f8f8))
  background: -moz-linear-gradient(top,  #efefef, #f8f8f8)
  border-color: #c7c7c7 #c3c3c3 #bebebe
  text-shadow: 0 1px 0 #fdfdfd
.button:active,.button.pressed
  background: #e4e4e4
  background: -webkit-gradient(linear, left top, left bottom, from(#dfdfdf), to(#e8e8e8))
  background: -moz-linear-gradient(top,  #dfdfdf, #e8e8e8)
  border-color: #c7c7c7 #c3c3c3 #bebebe
  text-shadow: 0 1px 0 #fdfdfd

#buttons
  position: fixed
  bottom: 0px
  padding: 5px
  *
    vertical-align: middle
  .button
    width: 1.5em

#log-container
  border-left: thin solid #eee
  display: inline-block
  overflow-y: hidden
  width: 33%

#log
  padding-left: 1em
  *
    white-space: pre
  .error
    background: rgba(255,0,0,0.3)
    color: white
  .warn
    background: rgba(255,127,0,0.3)
    color: white
  .debug
    color: #7c7
